@import url(../css/fonts.css);
/* Importing fonts - Abel, Anton, Josefin, Lexend, and Livvic */

html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ---------> Global Classes <---------- */

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
}

ul {
  list-style-type: none;
}

/* <--------- Global Classes ----------> */

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 40vh;
  overflow: hidden;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem;
    font-size: 1.1rem;
    position: relative;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  font-family: Abel, cursive;
}
